$white: #ffffff;
$whiteSmoke: rgba(255, 255, 255, 0.64);
$blueDark: #28293e;
$vine: #391400;
$vineSmoke: rgba(57, 20, 0, 0.64);
$green: #4fe24a;
$beige: #fdf0e9;
$beigeDark: #F3D1BF;

$colorFontLight: $white;
$colorFontIntroText: $whiteSmoke;
$colorFontDark: $vine;
$colorFontCategoryItem: $vineSmoke;
$colorBgLight: $beige;
$colorBgDark: $blueDark;
$colorActive: $green;
$colorBorderSelect: $beigeDark;
